<a href="https://colab.research.google.com/github/paiml/minimal-python/blob/master/Chapter9_scikit_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 9:  Make predictions with scikit-learn

**This is a chapter in the book Minimal Python**

* [Buy a copy on LeanPub](https://leanpub.com/minimalpython)
* [Buy a copy from Amazon](https://www.amazon.com/Minimal-Python-efficient-programmer-onemillion2021-ebook/dp/B0855NSRR7)

[*Licensed Under Attribution-NonCommercial-ShareAlike 4.0*](https://creativecommons.org/licenses/by-nc-sa/4.0/)

![Minimal Python Book](https://d2sofvawe08yqg.cloudfront.net/minimalpython/hero?1582640276)

## Ingest

*COVID-19 Data from [New York Times Github](https://github.com/nytimes/covid-19-data)*

In [21]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv")
df["date"] = pd.to_datetime(df["date"])
df = df.set_index("date")
df.drop(columns="fips", inplace=True)
df.head()

                 state  cases  deaths
date
2020-01-21  Washington      1       0
2020-01-22  Washington      1       0
2020-01-23  Washington      1       0
2020-01-24    Illinois      1       0
2020-01-24  Washington      1       0

*Sugar Intake By State*

In [22]:
cdc_2013 = pd.read_csv("https://raw.githubusercontent.com/noahgift/sugar/master/data/education_sugar_cdc_2003.csv")
cdc_2013.set_index("State", inplace=True)
for column in cdc_2013.columns:
  cdc_2013[column]=cdc_2013[column].str.replace(r"\(.*\)","")
  cdc_2013[column]=pd.to_numeric(cdc_2013[column])
  
cdc_2013.reset_index(inplace=True)
cdc_2013.rename(columns={"State": "state", "Employed": "employed-sugar-intake-daily"},inplace=True)
cdc_2013.head()

                  state  ...  College graduate
0                Alaska  ...              12.9
1               Arizona  ...              14.6
2            California  ...              11.5
3           Connecticut  ...              10.2
4  District of Columbia  ...               8.4

[5 rows x 8 columns]

*Combine Sugar Data and Covid-19 Data*

In [23]:
cdc_employed_df = cdc_2013[["employed-sugar-intake-daily", "state"]]
sugar_covid_df = df.merge(cdc_employed_df, how="inner", on="state")
sugar_covid_df.head()

        state  cases  deaths  employed-sugar-intake-daily
0  California      1       0                         22.9
1  California      2       0                         22.9
2  California      2       0                         22.9
3  California      2       0                         22.9
4  California      2       0                         22.9

*What about data from the 2016 Election?*

In [30]:
election_df = pd.read_csv("https://raw.githubusercontent.com/paiml/minimal-python/master/data/2016-Electoral-Votes.csv")
election_df.rename(columns={"State": "state"},inplace=True)
election_df.drop(columns="Votes", inplace=True)
election_df = pd.concat([election_df, pd.get_dummies(election_df["Winning Party"])], axis=1);
election_df.head()
#election_df["Republican?"] = pd.get_dummies(election_df, columns=["Winning Party"])
#election_df.head()

        state Winning Party  Democrats  Republicans
0     Alabama   Republicans          0            1
1      Alaska   Republicans          0            1
2     Arizona   Republicans          0            1
3    Arkansas   Republicans          0            1
4  California     Democrats          1            0

In [31]:
sugar_covid_df = sugar_covid_df.merge(election_df, how="inner", on="state")
sugar_covid_df.head()

        state  cases  deaths  ...  Winning Party Democrats  Republicans
0  California      1       0  ...      Democrats         1            0
1  California      2       0  ...      Democrats         1            0
2  California      2       0  ...      Democrats         1            0
3  California      2       0  ...      Democrats         1            0
4  California      2       0  ...      Democrats         1            0

[5 rows x 7 columns]

*Generate Heatmap*

In [32]:
sugar_covid_df.corr()

                                cases    deaths  ...  Democrats  Republicans
cases                        1.000000  0.977441  ...   0.184217    -0.184217
deaths                       0.977441  1.000000  ...   0.179190    -0.179190
employed-sugar-intake-daily -0.123395 -0.120978  ...  -0.761767     0.761767
Democrats                    0.184217  0.179190  ...   1.000000    -1.000000
Republicans                 -0.184217 -0.179190  ...  -1.000000     1.000000

[5 rows x 5 columns]

In [35]:
import plotly.graph_objects as go

fig = go.Figure(data=go.Heatmap(
                   z=sugar_covid_df.corr(),
                   x=['cases', 'deaths', 'employed-sugar-intake-daily', 'Democrats', 'Republicans'],
                   y=['cases', 'deaths', 'employed-sugar-intake-daily', 'Democrats', 'Republicans'],
                   hoverongaps = False))
fig.show()

*What about Real-Estate Data?*

## Modeling

## Conclusion